# Core functionality - changes here should be rare!
/src/app.py                   @ars512
/src/backend/database.py      @ars512
/src/backend/routers/auth.py  @ars512

# The frontend will need refactored soon to be more object oriented.
/src/static/   @ars512
